<table
  id="data-table-voucher"
  class="table table-bordered table-hover"
  aria-label="Voucher Form"
>
  <thead>
    <tr>
      <th>No.</th>
      <th>Game Name</th>
      <th>Category</th>
      <th>Nominal</th>
      <th>Status</th>
      <th>Image</th>
      <th data-orderable="false">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < voucher.length; i++) { %>
    <tr>
      <td style="width: 35px"><%= i + 1 %></td>
      <td><%= voucher[i].name %></td>
      <td><%= voucher[i].category?.name ?? '-' %></td>

      <td>
        <% voucher[i].nominals.forEach(nominal => { %>
        <span class="badge badge-warning">
          <%= nominal.coinQuantity %> <%= nominal.coinName %>
        </span>
        <% }) %>
      </td>
      <td align="center" style="width: 8%">
        <% if(voucher[i].status === 'Y') { %>
        <span class="badge badge-success"> Active </span>
        <% } else { %>
        <span class="badge badge-danger"> Not Active </span>
        <% } %>
      </td>
      <td align="center">
        <img alt="" src="/uploads/<%= voucher[i].thumbnail %>" height="125px" />
      </td>
      <td style="width: 210px" align="center">
        <form
          action="/voucher/status/<%= voucher[i]._id %>?_method=PUT"
          method="POST"
          style="display: inline-block; margin-right: 20px"
        >
          <% if(voucher[i].status === 'Y') {%>
          <button class="btn btn-danger btn-sm">
            <i class="ion-close"></i>
          </button>

          <% } else { %>
          <button class="btn btn-success btn-sm">
            <i class="ion-checkmark"> </i>
          </button>
          <% } %>
        </form>
        <form
          action="/voucher/delete/<%= voucher[i]._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block"
        >
          <a
            href="/voucher/edit/<%= voucher[i]._id %>"
            class="btn btn-warning btn-sm"
            ><i class="fas fa-pencil-alt"></i> Change</a
          >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
