<table
  id="data-table-transaction"
  class="table table-bordered table-hover"
  aria-label="Voucher Form"
>
  <thead>
    <tr>
      <th>No.</th>
      <th>Game Name</th>
      <th>Item</th>
      <th>Price Total</th>
      <th>Status</th>
      <th>Player Name</th>
      <th data-orderable="false">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < transaction.length; i++) { %>
    <tr>
      <td style="width: 35px"><%= i + 1 %></td>
      <td>
        <ul class="list-inline">
          <li class="list-inline-item">
            <img
              alt=""
              width="48px"
              height="48px"
              src="http://localhost:3000/uploads/<%= transaction[i].historyVoucherTopup.thumbnail %>"
            />
          </li>
        </ul>

        <%= transaction[i]?.historyVoucherTopup?.gameName %>
        <br />
        (<%= transaction[i]?.historyVoucherTopup?.category %>)
      </td>

      <td>
        <%= transaction[i]?.historyVoucherTopup?.coinQuantity %> <%=
        transaction[i]?.historyVoucherTopup?.coinName %>
      </td>

      <td><%= transaction[i]?.historyVoucherTopup?.price %></td>

      <td align="center" style="width: 8%">
        <% if(transaction[i].status === 'pending') { %>
        <span class="badge badge-warning">
          <%= transaction[i].status.charAt(0).toUpperCase()
          +transaction[i].status.slice(1) %>
        </span>
        <% } else if (transaction[i].status === 'success') { %>
        <span class="badge badge-success">
          <%= transaction[i].status.charAt(0).toUpperCase() +
          transaction[i].status.slice(1) %>
        </span>
        <% } else { %>
        <span class="badge badge-danger">
          <%= transaction[i].status.charAt(0).toUpperCase() +
          transaction[i].status.slice(1) %>
        </span>
        <% } %>
      </td>

      <td><%= transaction[i]?.player?.name ?? '-' %></td>

      <td style="width: 195px" align="center">
        <form
          action="/transaction/status/<%= transaction[i]._id %>?status=success&_method=PUT"
          method="POST"
          style="display: inline-block; margin-right: 12px"
        >
          <button class="btn btn-info">
            <i class="fas fa-check"></i>Accept
          </button>
        </form>
        <form
          action="/transaction/status/<%= transaction[i]._id %>?status=failed&_method=PUT"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-danger">
            <i class="fas fa-times-circle"></i> Reject
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
