<table
  id="data-table"
  class="table table-bordered table-hover"
  aria-label="Bank Form"
>
  <thead>
    <tr>
      <th>No.</th>
      <th>Owner Name</th>
      <th>Bank Name</th>
      <th>Bank Account Number</th>
      <th data-orderable="false">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < bank.length; i++) { %>
    <tr>
      <td style="width: 10%"><%= i + 1 %></td>
      <td><%= bank[i].name %></td>
      <td><%= bank[i].nameBank %></td>
      <td><%= bank[i].accountNumber %></td>
      <td style="width: 190px" align="center">
        <form
          action="/bank/delete/<%= bank[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a href="/bank/edit/<%= bank[i]._id %>" class="btn btn-warning"
            ><i class="fas fa-pencil-alt"></i> Change</a
          >
          <button class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
