<table
  id="data-table"
  class="table table-bordered table-hover"
  aria-label="Nominal Form"
>
  <thead>
    <tr>
      <th>No.</th>
      <th>Coin Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th data-orderable="false">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < nominal.length; i++) { %>
    <tr>
      <td style="width: 10%"><%= i + 1 %></td>
      <td><%= nominal[i].coinName %></td>
      <td><%= nominal[i].coinQuantity %></td>
      <td><%= nominal[i].price %></td>
      <td style="width: 190px" align="center">
        <form
          action="/nominal/delete/<%= nominal[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a href="/nominal/edit/<%= nominal[i]._id %>" class="btn btn-warning"
            ><i class="fas fa-pencil-alt"></i> Change</a
          >
          <button class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
